body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
  overflow: hidden;
}

#map {
  height: 100vh;
  width: 100%;
}

.info-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.info-box h3 {
  margin: 0;
  color: #e74c3c;
}

#sos-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 2000;
}

#cancel-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background: white;
  color: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
